In [2]:
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 10)

In [4]:
import numpy as np

In [6]:
import matplotlib as plt
import re

In [8]:
df = pd.read_csv("rotten_reviews.csv")

In [10]:
df

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2/6/2010,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2/6/2010,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2/9/2010,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2/9/2010,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2/10/2010,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1048570,m/tourist,Robert W. Butler,False,Kansas City Star,Rotten,1.5/4,12/10/2010,"The Tourist is memorable for one thing, at lea..."
1048571,m/tourist,Fred Topel,False,Screen Junkies,Fresh,NaN,12/10/2010,"It's formulaic, but all the elements are in th..."
1048572,m/tourist,John Beifuss,False,"Commercial Appeal (Memphis, TN)",Rotten,4-Feb,12/10/2010,Johnny Depp is such a talented chameleon that ...
1048573,m/tourist,Tom Long,True,Detroit News,Rotten,NaN,12/10/2010,Jolie! Depp! Romantic locations! Intrigue! Som...
1048574,m/tourist,Chris Vognar,True,Dallas Morning News,Fresh,5-Apr,12/10/2010,The Tourist merely asks you to sit back and en...

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   rotten_tomatoes_link  1048575 non-null  object
 1   critic_name           1031372 non-null  object
 2   top_critic            1048575 non-null  bool
 3   publisher_name        1048575 non-null  object
 4   review_type           1048575 non-null  object
 5   review_score          764646 non-null   object
 6   review_date           1048575 non-null  object
 7   review_content        987138 non-null   object
dtypes: bool(1), object(7)
memory usage: 57.0+ MB

In [13]:
df.describe()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
count,1048575,1031372,1048575,1048575,1048575,764646,1048575,987138
unique,16392,10869,2,2217,2,784,7984,872398
top,m/star_wars_the_rise_of_skywalker,Emanuel Levy,False,New York Times,Fresh,5-Mar,1/1/2000,Parental Content Review
freq,992,7662,780821,12378,668679,84083,44504,244

In [14]:
df.describe()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
count,1048575,1031372,1048575,1048575,1048575,764646,1048575,987138
unique,16392,10869,2,2217,2,784,7984,872398
top,m/star_wars_the_rise_of_skywalker,Emanuel Levy,False,New York Times,Fresh,5-Mar,1/1/2000,Parental Content Review
freq,992,7662,780821,12378,668679,84083,44504,244

In [15]:
df.dropna(inplace=True)

In [16]:
df

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2/9/2010,Whether audiences will get behind The Lightnin...
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,4-Jan,2/10/2010,Harry Potter knockoffs don't come more transpa...
7,m/0814255,Bill Goodykoontz,True,Arizona Republic,Fresh,3.5/5,2/10/2010,"Percy Jackson isn't a great movie, but it's a ..."
8,m/0814255,Jordan Hoffman,False,UGO,Fresh,B,2/10/2010,"Fun, brisk and imaginative"
9,m/0814255,Jim Schembri,True,The Age (Australia),Fresh,5-Mar,2/10/2010,"Crammed with dragons, set-destroying fights an..."
...,...,...,...,...,...,...,...,...
1048568,m/tourist,Liam Lacey,True,Globe and Mail,Rotten,4-Feb,12/10/2010,What should have sizzled fizzles.
1048569,m/tourist,Jim Slotek,False,Jam! Movies,Fresh,5-Mar,12/10/2010,"What can be said is that von Donnersmarck, who..."
1048570,m/tourist,Robert W. Butler,False,Kansas City Star,Rotten,1.5/4,12/10/2010,"The Tourist is memorable for one thing, at lea..."
1048572,m/tourist,John Beifuss,False,"Commercial Appeal (Memphis, TN)",Rotten,4-Feb,12/10/2010,Johnny Depp is such a talented chameleon that ...
1048574,m/tourist,Chris Vognar,True,Dallas Morning News,Fresh,5-Apr,12/10/2010,The Tourist merely asks you to sit back and en...

In [18]:
df["word_count"]=df['review_content'].apply(lambda x: len(str(x).split(" ")))
df[['word_count', 'review_content']].head(5)

   word_count                                     review_content
3          37  Whether audiences will get behind The Lightnin...
6          17  Harry Potter knockoffs don't come more transpa...
7          23  Percy Jackson isn't a great movie, but it's a ...
8           4                         Fun, brisk and imaginative
9          30  Crammed with dragons, set-destroying fights an...

In [22]:
df["character_count"]=df["review_content"].str.len()

In [23]:
df

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,word_count,character_count
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2/9/2010,Whether audiences will get behind The Lightnin...,37,213
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,4-Jan,2/10/2010,Harry Potter knockoffs don't come more transpa...,17,131
7,m/0814255,Bill Goodykoontz,True,Arizona Republic,Fresh,3.5/5,2/10/2010,"Percy Jackson isn't a great movie, but it's a ...",23,135
8,m/0814255,Jordan Hoffman,False,UGO,Fresh,B,2/10/2010,"Fun, brisk and imaginative",4,26
9,m/0814255,Jim Schembri,True,The Age (Australia),Fresh,5-Mar,2/10/2010,"Crammed with dragons, set-destroying fights an...",30,215
...,...,...,...,...,...,...,...,...,...,...
1048568,m/tourist,Liam Lacey,True,Globe and Mail,Rotten,4-Feb,12/10/2010,What should have sizzled fizzles.,5,33
1048569,m/tourist,Jim Slotek,False,Jam! Movies,Fresh,5-Mar,12/10/2010,"What can be said is that von Donnersmarck, who...",32,175
1048570,m/tourist,Robert W. Butler,False,Kansas City Star,Rotten,1.5/4,12/10/2010,"The Tourist is memorable for one thing, at lea...",18,98
1048572,m/tourist,John Beifuss,False,"Commercial Appeal (Memphis, TN)",Rotten,4-Feb,12/10/2010,Johnny Depp is such a talented chameleon that ...,22,123
1048574,m/tourist,Chris Vognar,True,Dallas Morning News,Fresh,5-Apr,12/10/2010,The Tourist merely asks you to sit back and en...,19,94

In [28]:
def avg_word(sentence):
    words=sentence.split()
    return(sum(len(word) for word in words)/len(words))
df["word_length"]=df["review_content"].apply(lambda x: avg_word(x))
df[["word_length", "review_content"]].head()

   word_length                                     review_content
3     4.783784  Whether audiences will get behind The Lightnin...
6     6.764706  Harry Potter knockoffs don't come more transpa...
7     4.913043  Percy Jackson isn't a great movie, but it's a ...
8     5.750000                         Fun, brisk and imaginative
9     6.200000  Crammed with dragons, set-destroying fights an...

In [30]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [32]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

df["stop_words"]=df["review_content"].apply(lambda x: len([x for x in x.split() if x in stop]))
df[["stop_words", "review_content"]].head()

   stop_words                                     review_content
3          14  Whether audiences will get behind The Lightnin...
6           6  Harry Potter knockoffs don't come more transpa...
7           8  Percy Jackson isn't a great movie, but it's a ...
8           1                         Fun, brisk and imaginative
9          11  Crammed with dragons, set-destroying fights an...