In [1]:
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 10)

In [2]:
import numpy as np

In [3]:
import matplotlib as plt
import re

In [4]:
df = pd.read_csv("rotten_reviews.csv")

In [5]:
df

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2/6/2010,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2/6/2010,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2/9/2010,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2/9/2010,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2/10/2010,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1048570,m/tourist,Robert W. Butler,False,Kansas City Star,Rotten,1.5/4,12/10/2010,"The Tourist is memorable for one thing, at lea..."
1048571,m/tourist,Fred Topel,False,Screen Junkies,Fresh,NaN,12/10/2010,"It's formulaic, but all the elements are in th..."
1048572,m/tourist,John Beifuss,False,"Commercial Appeal (Memphis, TN)",Rotten,4-Feb,12/10/2010,Johnny Depp is such a talented chameleon that ...
1048573,m/tourist,Tom Long,True,Detroit News,Rotten,NaN,12/10/2010,Jolie! Depp! Romantic locations! Intrigue! Som...
1048574,m/tourist,Chris Vognar,True,Dallas Morning News,Fresh,5-Apr,12/10/2010,The Tourist merely asks you to sit back and en...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   rotten_tomatoes_link  1048575 non-null  object
 1   critic_name           1031372 non-null  object
 2   top_critic            1048575 non-null  bool
 3   publisher_name        1048575 non-null  object
 4   review_type           1048575 non-null  object
 5   review_score          764646 non-null   object
 6   review_date           1048575 non-null  object
 7   review_content        987138 non-null   object
dtypes: bool(1), object(7)
memory usage: 57.0+ MB

In [7]:
df.describe()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
count,1048575,1031372,1048575,1048575,1048575,764646,1048575,987138
unique,16392,10869,2,2217,2,784,7984,872398
top,m/star_wars_the_rise_of_skywalker,Emanuel Levy,False,New York Times,Fresh,5-Mar,1/1/2000,Parental Content Review
freq,992,7662,780821,12378,668679,84083,44504,244

In [8]:
df.describe()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
count,1048575,1031372,1048575,1048575,1048575,764646,1048575,987138
unique,16392,10869,2,2217,2,784,7984,872398
top,m/star_wars_the_rise_of_skywalker,Emanuel Levy,False,New York Times,Fresh,5-Mar,1/1/2000,Parental Content Review
freq,992,7662,780821,12378,668679,84083,44504,244

In [8]:
df.dropna(inplace=True)

In [9]:
df

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2/9/2010,Whether audiences will get behind The Lightnin...
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,4-Jan,2/10/2010,Harry Potter knockoffs don't come more transpa...
7,m/0814255,Bill Goodykoontz,True,Arizona Republic,Fresh,3.5/5,2/10/2010,"Percy Jackson isn't a great movie, but it's a ..."
8,m/0814255,Jordan Hoffman,False,UGO,Fresh,B,2/10/2010,"Fun, brisk and imaginative"
9,m/0814255,Jim Schembri,True,The Age (Australia),Fresh,5-Mar,2/10/2010,"Crammed with dragons, set-destroying fights an..."
...,...,...,...,...,...,...,...,...
1048568,m/tourist,Liam Lacey,True,Globe and Mail,Rotten,4-Feb,12/10/2010,What should have sizzled fizzles.
1048569,m/tourist,Jim Slotek,False,Jam! Movies,Fresh,5-Mar,12/10/2010,"What can be said is that von Donnersmarck, who..."
1048570,m/tourist,Robert W. Butler,False,Kansas City Star,Rotten,1.5/4,12/10/2010,"The Tourist is memorable for one thing, at lea..."
1048572,m/tourist,John Beifuss,False,"Commercial Appeal (Memphis, TN)",Rotten,4-Feb,12/10/2010,Johnny Depp is such a talented chameleon that ...
1048574,m/tourist,Chris Vognar,True,Dallas Morning News,Fresh,5-Apr,12/10/2010,The Tourist merely asks you to sit back and en...

In [10]:
df["word_count"]=df['review_content'].apply(lambda x: len(str(x).split(" ")))
df[['word_count', 'review_content']].head(5)

   word_count                                     review_content
3          37  Whether audiences will get behind The Lightnin...
6          17  Harry Potter knockoffs don't come more transpa...
7          23  Percy Jackson isn't a great movie, but it's a ...
8           4                         Fun, brisk and imaginative
9          30  Crammed with dragons, set-destroying fights an...

In [11]:
df["character_count"]=df["review_content"].str.len()

In [12]:
df

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,word_count,character_count
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2/9/2010,Whether audiences will get behind The Lightnin...,37,213
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,4-Jan,2/10/2010,Harry Potter knockoffs don't come more transpa...,17,131
7,m/0814255,Bill Goodykoontz,True,Arizona Republic,Fresh,3.5/5,2/10/2010,"Percy Jackson isn't a great movie, but it's a ...",23,135
8,m/0814255,Jordan Hoffman,False,UGO,Fresh,B,2/10/2010,"Fun, brisk and imaginative",4,26
9,m/0814255,Jim Schembri,True,The Age (Australia),Fresh,5-Mar,2/10/2010,"Crammed with dragons, set-destroying fights an...",30,215
...,...,...,...,...,...,...,...,...,...,...
1048568,m/tourist,Liam Lacey,True,Globe and Mail,Rotten,4-Feb,12/10/2010,What should have sizzled fizzles.,5,33
1048569,m/tourist,Jim Slotek,False,Jam! Movies,Fresh,5-Mar,12/10/2010,"What can be said is that von Donnersmarck, who...",32,175
1048570,m/tourist,Robert W. Butler,False,Kansas City Star,Rotten,1.5/4,12/10/2010,"The Tourist is memorable for one thing, at lea...",18,98
1048572,m/tourist,John Beifuss,False,"Commercial Appeal (Memphis, TN)",Rotten,4-Feb,12/10/2010,Johnny Depp is such a talented chameleon that ...,22,123
1048574,m/tourist,Chris Vognar,True,Dallas Morning News,Fresh,5-Apr,12/10/2010,The Tourist merely asks you to sit back and en...,19,94

In [13]:
def avg_word(sentence):
    words=sentence.split()
    return(sum(len(word) for word in words)/len(words))
df["word_length"]=df["review_content"].apply(lambda x: avg_word(x))
df[["word_length", "review_content"]].head()

   word_length                                     review_content
3     4.783784  Whether audiences will get behind The Lightnin...
6     6.764706  Harry Potter knockoffs don't come more transpa...
7     4.913043  Percy Jackson isn't a great movie, but it's a ...
8     5.750000                         Fun, brisk and imaginative
9     6.200000  Crammed with dragons, set-destroying fights an...

In [15]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

df["stop_words"]=df["review_content"].apply(lambda x: len([x for x in x.split() if x in stop]))
df[["stop_words", "review_content"]].head()

   stop_words                                     review_content
3          14  Whether audiences will get behind The Lightnin...
6           6  Harry Potter knockoffs don't come more transpa...
7           8  Percy Jackson isn't a great movie, but it's a ...
8           1                         Fun, brisk and imaginative
9          11  Crammed with dragons, set-destroying fights an...

In [15]:
df["numerics"]=df["review_content"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[["numerics", "review_content"]].head()

   numerics                                     review_content
3         0  Whether audiences will get behind The Lightnin...
6         0  Harry Potter knockoffs don't come more transpa...
7         0  Percy Jackson isn't a great movie, but it's a ...
8         0                         Fun, brisk and imaginative
9         0  Crammed with dragons, set-destroying fights an...

In [16]:
df["upper"]=df["review_content"].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[["upper", "review_content"]].head()

   upper                                     review_content
3      0  Whether audiences will get behind The Lightnin...
6      0  Harry Potter knockoffs don't come more transpa...
7      0  Percy Jackson isn't a great movie, but it's a ...
8      0                         Fun, brisk and imaginative
9      0  Crammed with dragons, set-destroying fights an...

In [17]:
# convert to lower
df['review_content'] = df['review_content'].apply(lambda x: (" ".join(x.lower() for x in x.split())))
df['review_content'].head(10)

3     whether audiences will get behind the lightnin...
6     harry potter knockoffs don't come more transpa...
7     percy jackson isn't a great movie, but it's a ...
8                            fun, brisk and imaginative
9     crammed with dragons, set-destroying fights an...
10    this action-packed fantasy adventure, based on...
11    for what it is and for whom it is intended, it...
12    chris columbus returns to his comfort zone for...
13    the best thing you can say about chris columbu...
14    this cast is simply too generic. none of the y...
Name: review_content, dtype: object

In [18]:
#remove non space and non word char
df["review_content"]=df["review_content"].str.replace('[^\w\s]', '')
df["review_content"]

C:\Users\DELL\AppData\Local\Temp\ipykernel_10456\3822531673.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["review_content"]=df["review_content"].str.replace('[^\w\s]', '')

3          whether audiences will get behind the lightnin...
6          harry potter knockoffs dont come more transpar...
7          percy jackson isnt a great movie but its a goo...
8                                  fun brisk and imaginative
9          crammed with dragons setdestroying fights and ...
                                 ...
1048568                     what should have sizzled fizzles
1048569    what can be said is that von donnersmarck who ...
1048570    the tourist is memorable for one thing at leas...
1048572    johnny depp is such a talented chameleon that ...
1048574    the tourist merely asks you to sit back and en...
Name: review_content, Length: 698069, dtype: object

In [19]:
from nltk.corpus import stopwords
stop=stopwords.words('english')

df["review_content"]=df["review_content"].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df["review_content"].head(10)

3     whether audiences get behind lightning thief h...
6     harry potter knockoffs dont come transparent s...
7     percy jackson isnt great movie good one trotti...
8                                 fun brisk imaginative
9     crammed dragons setdestroying fights things ex...
10    actionpacked fantasy adventure based rick rior...
11                   intended bad movie indifferent one
12    chris columbus returns comfort zone mirthless ...
13    best thing say chris columbuss adaptation hes ...
14       cast simply generic none young thespians stick
Name: review_content, dtype: object

In [21]:
# Frequently repeated words
freq=pd.Series(' '.join(df["review_content"]).split()).value_counts()[:20]
freq

film          103514
movie          79479
one            56912
like           47810
story          37711
much           29268
good           29187
even           28267
films          24291
best           23825
time           23634
comedy         22833
make           21848
characters     20174
way            20110
little         19746
never          19587
movies         19308
doesnt         19258
enough         19249
dtype: int64

In [22]:
freq=list(freq.index)
freq

['film',
 'movie',
 'one',
 'like',
 'story',
 'much',
 'good',
 'even',
 'films',
 'best',
 'time',
 'comedy',
 'make',
 'characters',
 'way',
 'little',
 'never',
 'movies',
 'doesnt',
 'enough']

In [24]:
#infrequent
freq=pd.Series(" ".join(df["review_content"]).split()).value_counts()[-10:]
freq

pecuniary           1
portugus            1
traduo              1
perdem              1
travados            1
verbais             1
duelos              1
trunfos             1
scandinavianbred    1
sizzled             1
dtype: int64

In [25]:
#get words not in frequent
df["review_content"]=df["review_content"].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df["review_content"].head(10)

3     whether audiences get behind lightning thief h...
6     harry potter knockoffs dont come transparent s...
7     percy jackson isnt great movie good one trotti...
8                                 fun brisk imaginative
9     crammed dragons setdestroying fights things ex...
10    actionpacked fantasy adventure based rick rior...
11                   intended bad movie indifferent one
12    chris columbus returns comfort zone mirthless ...
13    best thing say chris columbuss adaptation hes ...
14       cast simply generic none young thespians stick
Name: review_content, dtype: object

In [27]:
pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\dell\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

In [28]:
#creating textblob

from textblob import TextBlob
df["review_content"][:5].apply(lambda x: str(TextBlob(x).correct()))

KeyError: 'SentimentText'